.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 500px;
  height: auto;
}

.hidden-paragraph {
  visibility: hidden;
}
