@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Outfit&display=swap');
body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
}

h1 {
  color: black;
  font-size: 3em; /* increased size */
  margin-bottom: 50px;
  text-align: center; /* center the title */
  font-family: 'Bayon', sans-serif; /* changed font to Bayon */
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.button {
  background-color: lightgray;
  border: none;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 20px;
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button img {
  max-width: 150px;
  margin-bottom: 10px;
}

.button p {
  font-family: 'Outfit', sans-serif; /* changed font to Outfit */
  font-weight: 500; /* medium weight */
}

footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: gray;
  font-size: 12px;
}
